Repository react-native-image-picker/react-native-image-picker, pull requests merged in 2019-01, with the labels that each got.

#1000 Upgrade Android dependencies, added Google maven repository
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
Labels: :star2: Enhancement PR, Android

#982 Fix iOS build warning
  ios/ImagePickerManager.m
Labels: :star2: Enhancement PR, iOS

#977 Remove crashing invocation of “stringValue” on iOS
  ios/ImagePickerManager.m
Labels: :bug: Bug, iOS

#835 Resolve memory leak in iOS image picker
  ios/ImagePickerManager.m
Labels: :bug: Bug, iOS

#819 [iOS] Update permissions flow for iOS 11 UIImagePickerController
  ios/ImagePickerManager.m
Labels: iOS

#973 #972: change ImageConfig.withOriginalFile() to address testOnImmutable failure
  android/src/main/java/com/imagepicker/media/ImageConfig.java
Labels: Android

#710 Set value for key "type" in picker response on iOS
  ios/ImagePickerManager.m
Labels: :star2: Platform Parity PR, iOS
